* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.svg_container {
  height: 350px;
  width: 350px;
  border: none;
  position: fixed;
  top: 50px;
  left: 290px;
  z-index: 1;
  overflow: hidden;
}
.circle_text_container_one {
   position: relative;
    top: 130px;
    left: 85px;
    color: white;
}
.circle_inner_container_one h2{
    font-size: 52px;
}
.circle_inner_container_one p{
    font-size: 22px;
    margin-left: 120px;
}

.circle_text_container_two {
    position: relative;
     top: 130px;
     left: 180px;
     color: white;
 }
 .circle_inner_container_two h2{
     font-size: 52px;
 }
 .circle_inner_container_two p{
     font-size: 22px;
 }
 .circle_inner_container_two span{
     font-size: 22px;
     margin-left: 160px;
 }
 .circle_text_container_three {
    position: relative;
     top: 130px;
     left: 200px;
     color: white;
 }
 .circle_inner_container_three p{
     font-size: 22px;
 }
 .circle_inner_container_two p{
     font-size: 22px;
 }
 .circle_inner_container_three span{
     font-size: 22px;
     margin-left: 160px;
 }


#sectionOne,
#sectionTwo,
#sectionThree,
#sectionFour,
#sectionFive,
#sectionSix,
#sectionSeven {
  position: relative;
  overflow: hidden;
}
.container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 100vw;
  height: 100vh;
}
.secOneLeftImg img {
  position: absolute;
  width: 280px;
  top: 55%;
}
.left_container_sec_one {
  background-color: #6614ab;
  padding: 20px;
  position: relative;
}

.right_container_sec_one {
  background-color: #c9c9cb;
  position: relative;
  overflow: hidden;
}

.sectionOneImgOne img {
  position: absolute;
  width: 350px;
  top: 50px;
}
.sectionOneImgTwo img {
  position: absolute;
  width: 350px;
  right: 150px;
  top: 50px;
}
.left_container_sec_two {
  background-color: #512bd1;
  padding: 20px;
}
.right_container_sec_two {
  background-color: #1d0463;
  position: relative;
  overflow: hidden;
}
.secTwoImgOne img {
  position: absolute;
  width: 320px;
  top: 140px;
  left: 80px;
}
.secTwoImgTwo img {
  position: absolute;
  width: 300px;
  right: 30px;
  top: -90px;
}
.left_container_sec_three {
  background-color: #10133b;
  padding: 20px;
}
.right_container_sec_three {
  background-color: #16184a;
  position: relative;
  overflow: hidden;
}
.secThreeImgOne img {
  position: absolute;
  width: 300px;
  top: 140px;
  left: 120px;
}
.secThreeImgTwo img {
  position: absolute;
  width: 250px;
  right: 40px;
  top: -55px;
}

.left_container_sec_four {
  background-color: #18293e;
  padding: 20px;
}

.sectionText {
  position: absolute;
  top: 70%;
}
.sectionText h1 {
  font-size: 40px;
  color: #fff;
}
.sectionText p {
  font-size: 18px;
  color: #fff;
}
.sectionInnerText {
  position: absolute;
  top: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sectionInnerText .study_text h3 {
  color: #fff;
  font-weight: normal;
}
.sectionInnerText .skip_text h3 {
  color: #fff;
  font-weight: normal;
  margin-left: 200px;
  letter-spacing: 8px;
}
.right_container_sec_four {
  background-color: #0f151c;
  position: relative;
  overflow: hidden;
}
.sectionFourImgOne img {
  position: absolute;
  width: 280px;
  top: -30px;
}
.sectionFourImgTwo img {
  position: absolute;
  width: 220px;
  right: 176px;
  top: 180px;
}
.sectionFourImgThree img {
  position: absolute;
  width: 250px;
  bottom: -90px;
  left: 150px;
}
.sectionFourImgFour img {
  position: absolute;
  width: 200px;
  right: 30px;
  top: -190px;
}
.sectionFourImgFive img {
  position: absolute;
  right: -30px;
  bottom: -90px;
  width: 300px;
}
.left_containner_sec_five {
  background-color: #0d479e;
  padding: 20px;
}
.right_container_sec_five {
  background-color: #24c4d4;
  position: relative;
  overflow: hidden;
}
.secFiveImgOne img {
  position: absolute;
  top: -110px;
  left: 80px;
}
.secFiveImgTwo {
  position: absolute;
  top: -40px;
  left: 320px;
}
.secFiveImgThree {
  width: 240px;
  position: absolute;
  top: 130px;
  left: 540px;
}
.secFiveImgFour {
  position: absolute;
  top: 280px;
  left: 40px;
}
.secFiveImgFive {
  position: absolute;
  top: 360px;
  left: 280px;
}
.left_containner_sec_six {
  background-color: #042f94;
  padding: 20px;
}
.right_container_sec_six {
  background-image: url(/images/interior.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.secSixImgOne img {
  position: absolute;
  width: 100%;
}
.left_container_sec_seven {
  background-color: #01844d;
  padding: 20px;
}
.right_container_sec_seven {
  background-color: #02b96a;
  position: relative;
  overflow: hidden;
}
.secSevenImgOne img {
  position: absolute;
  width: 300px;
  left: 380px;
  top: 80px;
}
.secSevenImgTwo img {
  position: absolute;
  width: 360px;
  top: 180px;
  left: 120px;
}
